# Gradle files
.gradle/
build/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
out/

# Android Studio files
captures/
/local.properties
.externalNativeBuild/
.cxx/

# Log files and heap dumps
*.log
*.hprof

# System files
.DS_Store
Thumbs.db

# Built artifacts
*.apk
*.aar
*.bundle
